:root {
    --bg-body: #ADD8E6;
    --bg-card: #1b232f;
    --text-main: #e9eff6;
    --text-muted: #8691a1;
    --primary: #8594be;
    --accent: #667ed0;
    --danger: #ef4444;
    --border: #2b3542;

    --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  padding: 16px;
  line-height: 1.6;
 
}

body > header,
body > main,
body > footer {
  max-width: 800px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

section {
  background-color: var(--bg-card);
  padding: 1.5rem;
  border-radius: var(--radius);
  border: 1px solid #adb4c1;
  box-shadow: 0 4px -1px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin-top: 2rem;
}

h1,
h2,
h3 {
  color: #fff;
  margin: 0;
  line-height: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #d01b1b;
  text-align: center;
  margin: 0 0 2rem 0;
}

h2 {
  display: block;  
  width: fit-content; 
  color: var(--danger); 

  border-bottom: 2px solid var(--primary);
  padding-bottom: 0.5rem;
  margin: 0 0 1rem 0;
}

nav ul {
  list-style: none;
  display: flex; justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  
}
nav a {
  text-decoration: none;
  color:  var(--text-main);
  font-weight: bold;
  padding: 0.5rem 1rem;
 border-radius: var(--radius);
 transition: all 0.3s;
}

aside a {
  text-decoration: none;
  color: var(--accent);  /* O var(--text-main) si prefieres */
  font-weight: bold;
}

aside a:visited {
  color: var(--accent);  /* Mismo color para enlaces visitados */
}

aside a:hover {
  color: var(--primary);
  text-decoration: underline;
}

nav a:hover {
background-color: var(--primary);
color: #fff;
border-radius: var(--radius)

}

article {
  border-left: 4px solid var(--accent);
  padding-left: 1rem;
  margin-top: 1rem;
}

article header p, span, time {
  font-style: normal;
  color:var(--text-muted);
  font-size: 0.9rem;
}

article header p span {

  font-weight: bold;
  font-style: italic;
}

img {
max-width: 100%; margin: auto;
height: 300px ; width: 400;
border-radius: var(--radius); 
}

figure {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: var(--radius);
  text-align: center;
  margin: 1rem 0;

}
figcaption {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-muted);
  font-style: italic;
}

blockquote {
  background: #3a4259;
  padding: 1rem;
  border-radius: var(--radius);
  border-left: 4px solid var(--primary);
  margin: 1rem 0;
  font-style: italic;
}

pre {
  line-height: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  overflow: hidden;

}

caption {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
  color: var(--text-muted);
}


th, td {
padding: 0.75rem;
text-align: left;
border-bottom: 1px solid #334155;
}
th {
  background-color: var(--bg-body);
  color: var(--primary);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.03);
}

tbody tr:hover {
    background-color: rgba(59, 131, 246, 0.1);
}


form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

fieldset {
    border-color: var(--border);
    border-radius: var(--radius);
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.1);
}

legend {
    padding: 0 0.5rem;
    color: var(--accent);
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--radius);
    border: 1px solid #475569;
    background-color: #1e293b;
    color: white;
    margin-top: 0.3rem;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--primary);
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-main);
}

button[type="submit"] {
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #244397;
}

progress, meter {
    width: 100%;
    height: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-size: 0.8rem;
}

#seccion-form header {
    display: flex;
    justify-content: center;
}

h3 {
  text-decoration: none;
  color:  var(--text-main);
}